@{
  ViewData["Title"] = "Account";
}

<div class="container">
  <h1 class="display-4">Account Information</h1>
  <p>Welcome to your profile, @ViewBag.CurrentUser.FirstName</p>
  <div class="row">

    <div class="col-3">
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">Personal Information</a>
        <a class="list-group-item list-group-item-action" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">Change Password</a>
        <a class="list-group-item list-group-item-action" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false">Payment Options</a>
      </div>
    </div>
    
    <div class="col">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-1-tab">
          <partial name="_ProfileSetting"></partial>
        </div>

        <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-2-tab">
          <partial name="_ChangePassword"></partial>
        </div>

        <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-3-tab">
          <partial name="_PaymentOptions"></partial>
        </div>

      </div>  
    </div>
  </div>
</div>

@section Scripts
{
  <script>
    $(document).ready(function(){
      $('.custom-file-input').on('change', function() { 
        let fileName = $(this).val().split('\\').pop(); 
        $(this).next('.custom-file-label').addClass("selected").html(fileName); 
      });
      // get file and preview image
      $("#inputGroupFile").on('change',function(){
        var input = $(this)[0];
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
              $('#preview').attr('src', e.target.result).fadeIn('slow');
          }
          reader.readAsDataURL(input.files[0]);
        }
      });
    });
  </script>

}