@model RegisterModel
@{
  ViewData["Title"] = "New User";
}

<link rel="stylesheet" href="~/css/newUser.css" />

<div class="login-container mx-auto col-sm-11 col-md-11 col-lg-10 col-xl-8">
<section class="login" id="login">
    <header>
      <h2>eStore</h2>
      <h4>Register below</h4>
    </header>
  <form enctype="multipart/form-data" class="login-form" asp-controller="Auth" asp-action="Register" method="POST">
  <div class="form-row">
    <div class="col-sm-6">
      
      <div class="col-md-8 mx-auto">
        <div class="input-group mb-3">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile" asp-for="Image">
            <label class="custom-file-label text-truncate" for="inputGroupFile" aria-describedby="inputGroupFileAddon">Upload image</label>
            <span class="invalid-feedback d-block" asp-validation-for="Image"></span>
          </div>
        </div>
        <div class="border text-center p-3">
          <img src="//placehold.it/140?text=IMAGE" class="img-fluid" id="preview"/>
        </div>
      </div>
    
    </div>
    <div class="col-sm-6">
    <div class="form-row">
      <div class="form-group col-6">
        <label asp-for="User.FirstName"></label>
        <textarea class="login-input" rows="1" asp-for="User.FirstName" autofocus/></textarea>
        <span class="invalid-feedback d-block" asp-validation-for="User.FirstName"></span>
      </div>

      <div class="form-group col-6">
        <label asp-for="User.LastName"></label>
        <textarea class="login-input" rows="1" asp-for="User.LastName"/></textarea>
        <span class="invalid-feedback d-block" asp-validation-for="User.LastName"></span>
      </div>
    </div>

    <div class="form-group">
      <label asp-for="User.Email"></label>
      <textarea class="login-input" rows="1" asp-for="User.Email"/></textarea>
      <span class="invalid-feedback d-block" asp-validation-for="User.Email"></span>
    </div>

    <div class="form-row">
      <div class="form-group col-6">
        <label asp-for="User.Password"></label>
        <input class="login-input" type="password" asp-for="User.Password"/>
        <span class="invalid-feedback d-block" asp-validation-for="User.Password"></span>
        <small class="text-muted d-block">Between 6 and 18 characters in length</small>
        <small class="text-muted d-block">Must contain at least one letter and one number</small>
        <small class="text-muted d-block">Must contain one or more special character from your list !, %, & and #</small>

      </div>

      <div class="form-group col-6">
        <label asp-for="User.Confirm"></label>
        <input class="login-input" type="password" asp-for="User.Confirm"/>
        <span class="invalid-feedback d-block" asp-validation-for="User.Confirm"></span>
      </div>
    </div>
    
    
    </div>
    
    

    
  </div> 
    <div class="submit-container">
      <small class="signup-button text-muted">Have an account? <a class="text-primary" asp-action="LogIn">Sign In Here</a></small>
      <button class="login-button" type="submit">SUBMIT</button>
    </div>
  </form>
</section>

</div>

@section Scripts
{
  <script>
    $(document).ready(function(){
      $('.custom-file-input').on('change', function() { 
        let fileName = $(this).val().split('\\').pop(); 
        $(this).next('.custom-file-label').addClass("selected").html(fileName); 
      });
      // get file and preview image
      $("#inputGroupFile").on('change',function(){
        var input = $(this)[0];
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
              $('#preview').attr('src', e.target.result).fadeIn('slow');
          }
          reader.readAsDataURL(input.files[0]);
        }
      });
    });

    $(function() {
      $('#AuctionSwitch').on('change', function() {
        $('#FixedSwitch').prop('checked', !this.checked);
      });
      $('#FixedSwitch').on('change', function() {
        $('#AuctionSwitch').prop('checked', !this.checked);
      });
    });

  </script>
}