<style>
  #search-dropdown {
    border-radius: .25rem 0 0 .25rem;
  }
</style>

<div class="bg-primary py-4">
  <form class="col-11 col-md-6 mx-auto shadow-lg px-0 rounded">
    <div class="input-group">
      <select id="search-dropdown" class="input-group-append border" asp-items="@(new SelectList(ViewBag.AllCategories,"Id","Name"))">
        <option value="0">All</option>
      </select>
      <textarea class="form-control form-control-lg" id="validationDefaultUsername" rows="1" placeholder="Search"></textarea>
      <div class="input-group-append">
        <button class="btn btn-warning" type="button"><i class="fas fa-search"></i></button>
      </div>
      
    </div>
  </form>
</div>