@{
  ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/login.css" />

<div class="login-container mx-auto col-sm-9 col-md-5 col-lg-5 col-xl-4">
  <section class="login" id="login">
    <header>
      <h2>eStore</h2>
      <h4>Login</h4>
    </header>
    @model LoginUser
    <form class="login-form" asp-controller="User" asp-action="LoginPOST"  method="POST">
      <input type="text" class="login-input" placeholder="Email" asp-for="Email" autofocus/>
      <span class="invalid-feedback d-block" asp-validation-for="Email"></span>
      <input type="password" class="login-input" placeholder="Password" asp-for="Password"/>
      <span class="invalid-feedback d-block" asp-validation-for="Password"></span>
      <div class="submit-container">
        <small class="signup-button text-muted">Don't have an account? <a class="text-primary" asp-action="NewUser">Sign Up Here</a></small>
        <button type="submit" class="login-button">SIGN IN</button>
      </div>
    </form>
  </section>
</div>

