<div class="jumbotron shadow border p-4 bg-light tab-content" id="v-pills-tabContent">
  <h5 class="border-bottom">PASSWORD</h5>

  @model PasswordChange
  <form asp-controller="User" asp-action="ChangePassword" method="POST">
    <div class="form-group">
      <label asp-for="CurrentPassword"></label>
      <input asp-for="CurrentPassword" type="password" class="form-control">
      <span class="invalid-feedback d-block" asp-validation-for="CurrentPassword"></span>
    </div>

    <div class="form-group">
      <label asp-for="NewPassword"></label>
      <input asp-for="NewPassword" type="password" class="form-control">
      <span class="invalid-feedback d-block" asp-validation-for="NewPassword"></span>
      <small class="text-muted d-block">Between 6 and 18 characters in length</small>
      <small class="text-muted d-block">Must contain at least one letter and one number</small>
      <small class="text-muted d-block">Must contain one or more special character from your list !, %, & and #</small>
    </div>

    <div class="form-group">
      <label asp-for="Confirm"></label>
      <input asp-for="Confirm" type="password" class="form-control">
      <span class="invalid-feedback d-block" asp-validation-for="Confirm"></span>
    </div>

    <button class="btn btn-primary" type="submit">Change Password</button>

  </form>
</div>