<div class="jumbotron shadow border p-4 bg-light">
  <div class="d-flex justify-content-between border-bottom">
    <h5 class="">PROFILE</h5>
    <a class="btn btn-link text-muted" href="#">Edit</a>
  </div>
  <p>@ViewBag.CurrentUser.FirstName @ViewBag.CurrentUser.LastName</p>
  <p>@ViewBag.CurrentUser.Email</p>
</div>