@{
  ViewData["Title"] = "Account";
}

<div class="container">

<h1 class="display-4">Account Information</h1>

<p>Welcome to your profile, @ViewBag.CurrentUser.FirstName</p>

<div class="row">
  <div class="list-group col-sm-3">
    <button type="button" id="1" class="list-group-item list-group-item-action active">
      Personal Information
    </button>
    <button type="button" id="2" class="list-group-item list-group-item-action">Change Password</button>

    <button type="button" id="3" class="list-group-item list-group-item-action">Payment Options</button>
  </div>

  <div class="list-group col">
    <div class="jumbotron option bg-light shadow border p-4" id="personalinfo">
      <div class="d-flex justify-content-between border-bottom">
        <h5 class="">PROFILE</h5>
        <a class="btn btn-link text-muted" href="#">Edit</a>
      </div>

      <p>@ViewBag.CurrentUser.FirstName @ViewBag.CurrentUser.LastName</p>
      <p>@ViewBag.CurrentUser.Email</p>
    </div>

    <div class="jumbotron option bg-light shadow d-none border p-4" id="passwordchange">
      <h5 class="border-bottom">PASSWORD</h5>

      @model PasswordChange
      <form asp-controller="User" asp-action="ChangePassword" method="POST">
        <div class="form-group">
          <label asp-for="CurrentPassword"></label>
          <input asp-for="CurrentPassword" type="password" class="form-control">
          <span class="invalid-feedback d-block" asp-validation-for="CurrentPassword"></span>
        </div>

        <div class="form-group">
          <label asp-for="NewPassword"></label>
          <input asp-for="NewPassword" type="password" class="form-control">
          <span class="invalid-feedback d-block" asp-validation-for="NewPassword"></span>
          <small class="text-muted d-block">Between 6 and 18 characters in length</small>
          <small class="text-muted d-block">Must contain at least one letter and one number</small>
          <small class="text-muted d-block">Must contain one or more special character from your list !, %, & and #</small>
        </div>

        <div class="form-group">
          <label asp-for="Confirm"></label>
          <input asp-for="Confirm" type="password" class="form-control">
          <span class="invalid-feedback d-block" asp-validation-for="Confirm"></span>
        </div>

        <button class="btn btn-primary" type="submit">Change Password</button>

      </form>

    </div>

    <div class="jumbotron option bg-light shadow d-none border p-4" id="paymentinfo">
      <h5 class="border-bottom">PAYMENTS</h5>

    </div>
  </div>

</div>

</div>

@section Scripts
{
  <script>
    $(document).ready(function() {
      $('.custom-file-input').on("change", function() {
        var fileName = $(this).val().split("\\").pop();
        $(this).next('custom-file-label').html(fileName);
      });
    });
  </script>

  <script>
    $(document).ready(function() {
      $("#1").click(function(){
        $(".list-group-item").removeClass("active");
        $(this).addClass('active');
        $(".option").addClass("d-none");
        $("#personalinfo").removeClass("d-none");

      });

      $("#2").click(function(){
        $(".list-group-item").removeClass("active");
        $(this).addClass('active');
        $(".option").addClass("d-none");
        $("#passwordchange").removeClass("d-none");
      });

      $("#3").click(function(){
        $(".list-group-item").removeClass("active");
        $(this).addClass('active');
        $(".option").addClass("d-none");
        $("#paymentinfo").removeClass("d-none");
      });
    });
  </script>
}