@{
  ViewData["Title"] = "Store";
}

<link rel="stylesheet" href="~/css/store.css" />

<partial name="_Search"></partial>

<div class="">
  <div class="row mx-0 mt-3">
    <div class="col-md-2">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">
          Cras justo odio
        </a>
        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
        <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
        <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
        <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Vestibulum at eros</a>
      </div>
      
    </div>
    <div class="col-md-10 card-columns">
    @{
      foreach(Product Product in ViewBag.AllProducts)
      {
        var photoPath = "~/images/" + (Product.ImagePath ?? "noimage.png");
        <div class="card">
          <img src="@photoPath" asp-append-version="true" class="card-img-top" alt="@photoPath">
          <div class="card-body">
            <h5 class="card-title">@Product.Title</h5>
            
            @if(Product.isSale)
            {
              <p class="card-text">$@Product.Price</p>
              <a href="#" class="btn btn-success btn-sm">Add to Cart</a>
            }
            else if(Product.isAuction)
            {
              <p class="card-text">$@Product.BidStartPrice</p>
              <a href="#" class="btn btn-info btn-sm">Bid Now</a>
            }
            
            <p class="card-text"><small class="text-muted"></small></p>
          </div>
        </div>;
      }
    }
    </div>
  </div>
</div>