@{
  ViewData["Title"] = "Store";
}

<style>
  html, body {
    background-color: #f8f9fa;
  }

  textarea {
    resize: none;
  }
</style>

<div class="bg-primary py-4">
  <form class="col-11 col-md-6 mx-auto shadow-lg px-0 rounded">
    <div class="input-group">
      <!-- <select class="input-group-append border bg-dark text-light rounded">
        <option selected>All</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select> -->
      <textarea class="form-control form-control-lg" id="validationDefaultUsername" rows="1" placeholder="Search"></textarea>
      <div class="input-group-append">
        <button class="btn btn-warning" type="button"><i class="fas fa-search"></i></button>
      </div>
      
    </div>
  </form>
</div>
<div class="container">

  <div class="card mb-3 w-50">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="..." class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>

</div>