html, body {
  background-color: #f8f9fa;
}

textarea {
  resize: none;
}

@media (min-width: 486px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 768px) {
  .card-columns {
    column-count: 3;
  }
}

@media (min-width: 992px) {
  .card-columns {
    column-count: 3;
  }
}

@media (min-width: 1050px) {
  .card-columns {
    column-count: 4;
  }
}

@media (min-width: 1600px) {
  .card-columns {
    column-count: 6;
  }
}